.tg-btn {
  @extend %button-shared;
}

.hero-link-1 {
  z-index: 1;
  width: 90px;
  height: 90px;
  background-color: $white;
  border: 2px solid $tg-primary;
  border-radius: 200px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.tg-btn {
  @extend %btn-primary-shared;

  &_offset-border {
    @extend %offset-border-shared;
  }
  
  &_cta {
    .tg-input {
      width: 100%;
    }
    .btn {
      padding: 15px 18px;
      border-radius: 0;
    }
  }
}

.input-offset_border{
  @extend %offset-border-shared;
  z-index: 1;

  .tg-input {
    border: none;
    user-select: none;

    &:focus {
      outline: none;
    }
  }
}

.btn-dark{
  background-color: $primary-dark;
  color: $white;
}