.message-person {
  padding: 5px 0;
  margin-bottom: 5px;
  cursor: pointer;
  @include css3-prefix(transition, color 0.3s ease);

  &:hover {
    color: $tg-primary;

    .message-icon {
      background-color: $tg-primary;
    }
  }

  .message-icon {
    padding: 0;
    @include css3-prefix(transition, background-color 0.3s ease);
  }
}
